[submodule "BM_authService"]
	path = BM_authService
	url = https://github.com/prolgrammer/BM_authService.git
[submodule "BM_fileService"]
	path = BM_fileService
	url = https://github.com/prolgrammer/BM_fileService.git
[submodule "BM_package"]
	path = BM_package
	url = https://github.com/prolgrammer/BM_package
